{% extends 'base-admin.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin-users-index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('admin-users-edit', {'id': user.id}) }}" class="btn btn-primary">edit</a>

    {{ include('Admin/users/_delete_form.html.twig') }}
{% endblock %}
