{% extends 'base-admin.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Image</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.image }}</td>
                <td>
                    <a href="{{ path('admin-articles-show', {'id': article.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('admin-articles-edit', {'id': article.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin-articles-new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
