<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row">
        <a class="navbar-brand" href="{{ path('admin-default-index') }}">Dashboard</a>
        <a class="navbar-brand" href="{{ path('admin-articles-index') }}">Articles</a>
        <a class="navbar-brand" href="{{ path('admin-users-index') }}">Users</a>
        <a class="navbar-brand ms-lg-auto" href="{{ path('app_logout') }}">Logout</a>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
